*{
    padding: 0;
    margin: 0;
}
.navbar-section{
    /* background: #d6d1d1; */
    
}
.logo{
    display: flex;
    justify-content: center;
}
input::placeholder{
    padding-left: 20px;
}
.nav-links{
    background: #bba330;
    /* background: #e5e5e5; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    /* display: flex;
    justify-content: center; */
}
.nav-links a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;

}
.home-section{
    /* background: #cbf7d9; */
   
    
}
.home-content{
    /* background: #acc9e9; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.search-area p{
    width: 50%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #6a6868; */
    font-size: 50px;
}
.search-area input{
    width: 40%;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
}
.home-text{
    /* height: 400px; */
    /* background: #e5e5e5; */
    background: #bba330;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
}
.best-seller-section{
    /* background: #f1aadc; */
}
.best-seller-section h2{
    font-size: 50px;
    text-align: center;
}
.boxes{
    /* background: #85cef3; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    /* padding: 15px; */
    /* background: #000; */
    border: 3px solid black;
    /* border-radius: 20px; */
    margin-left: 30px;
    margin-top: 30px;
    width: 20%;
    width: 300px;
    /* height: ; */
    text-align: center;
    line-height: 40px;
}
.box img{
    width: 100%;
    height: 350px;
}
.box p{
     font-size: 30px;
     font-style: italic;
}
.box button{
    width: 50%;
    font-size: 20px;
    border: 2px solid black ;
    background: #bba330;
    border-radius: 8px ;
}
.books-section h2{
    font-size: 50px;
    text-align: center;
}
.boxes2{
    /* background: #85cef3; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box2{
    /* padding: 15px; */
    /* background: #000; */
    border: 3px solid black;
    /* border-radius: 20px; */
    margin-left: 30px;
    margin-top: 30px;
    width: 20%;
    width: 300px;
    /* height: ; */
    text-align: center;
    line-height: 40px;
}
.box2 img{
    width: 100%;
    height: 350px;
}
.box2 p{
     font-size: 30px;
     font-style: italic;
}
.box2 button{
    width: 50%;
    font-size: 20px;
    border: 2px solid black ;
    background: #bba330;
    border-radius: 8px ;
}
.end-nav1{
    margin: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
.end-bar{
    padding: 10px;
    background: #bba330;
    width: 80%;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
}
.end-bar p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.links{
    text-align: center;
    font-size: 30px;
}
.end-content{
    line-height: 35px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.column1{
    display: flex;
    flex-direction: column;
}